@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
        <Authorized>
             <div class="h-[80vh] w-full flex items-center justify-center flex-col gap-2">
                <a href="/profile">Hello, @context.User.Identity?.Name!</a>
                <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
             </div>
        </Authorized>
        <NotAuthorized>
            <div class="h-[80vh] w-full flex items-center justify-center flex-col gap-2">
                <a href="/register">Register</a>
                <a href="/login">Log in</a>
            </div>
        </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}

